<div class="py-2 border-0 card-container">
  <div class="card-body">
    <h2 class="text-primary fw-medium fs-5">Welcome back!</h2>
    <p class="fs-7 text-secondary fw-medium">
      Jump back in, Don't have an account?
      <a routerLink="/register" class="fw-medium">Sign up</a>
    </p>
    <button class="btn btn-outline-secondary w-100 fw-medium py-2 rounded-3">
      <i class="bi bi-google me-2 rounded-3"></i>
      Login with Google
    </button>
    <p class="mt-2 text-secondary text-center divider">or</p>
    <form action="">
      <label for="email" class="form-label fw-medium">Email</label>
      <input
        type="text"
        id="email"
        placeholder="user@example.com"
        class="form-control mb-3 bg-body-tertiary"
      />
      <label for="password" class="form-label fw-medium">Password</label>
      <input
        type="password"
        id="password"
        class="form-control mb-2 bg-body-tertiary"
        type="password"
        placeholder="*********"
      />
      <input type="checkbox" class="form-check-input me-2" />
      <small class="d-inline fs-8">
        Remeber me
        <a href="" class="d-inline fs-8">Forgot Password?</a>
      </small>
      <button class="btn btn-primary w-100 mt-3 fw-medium">Login</button>
    </form>
  </div>
</div>
