.login-container {

  display: grid;
  grid-template-columns: 1fr;
  padding-left: 16px;
  padding-right: 16px;

  .bg-left-container {
    background-image: url("/images/bg2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    display: none;
  }

  .divider {
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 60%;
      background-color: rgba(128, 128, 128, 0.242);
      height: 1px;
      width: calc(50% - 30px);
    }
    &::after {
      right: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 40% calc(60% - 60px);
    column-gap: 60px;
    padding-left: 0;
    height: 100vh;

    .bg-left-container {
      display: block;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .card-container {
      width: 100%;
      max-width: 645px;
      margin: 0 auto;
    }
  }

}


