body {
  background-color: #fafafa;
  min-height: 100vh;
  // font-family: sans-serif;
}

.auth-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.fs-7 {
  font-size: 0.875rem;
}
.fs-8 {
  font-size: 0.75rem;
}
