body {
  background-color: #fafafa;
  min-height: 100vh;
}

.auth-container {
  width: 100%;
  min-height: 100vh;
}

.fs-7 {
  font-size: 0.875rem;
}
.fs-8 {
  font-size: 0.75rem;
}

.divider {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 60%;
    background-color: rgba(128, 128, 128, 0.242);
    height: 1px;
    width: calc(50% - 30px);
  }
  &::after {
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    width: 100%;
    max-width: 645px;
    margin: 0 auto;
  }
}
