<h1 class="text-center text-primary fs-5 fw-bold my-2 d-lg-none">Spend Sync</h1>
<div class="py-2 border-0 card-container">
  <div class="card-body">
    <h2 class="text-primary fs-5 fw-medium">Create your account.</h2>
    <p class="text-secondary fs-7 fw-medium">
      Let's get started. Already have an account?
      <a routerLink="/login" class="fw-medium">Login here</a>
    </p>
    <button
      type="button"
      class="btn btn-outline-secondary w-100 fw-medium py-2 rounded-3"
    >
      <i class="bi bi-google me-2"></i>
      Sign up with Google
    </button>
    <p class="mt-2 text-secondary text-center divider">or</p>
    <app-register-form></app-register-form>
  </div>
</div>
